body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/rm.jpg');
  min-height: 100%;
  filter:blur(10px);
  transition: 0.4s;
}
.bgimg:hover{
    filter: blur(0px);
    
}
.run-txt{
  position: relative;
}
.run-txt::after{
  content: '|';
  position: absolute;
  right: 0;
  color: transparent;
  background-color: yellow;
  width: 98%;
  animation: show 3s steps(35) alternate infinite,
              line 0.5s infinite;
}
@keyframes show{
  to{
    width: 0%;
  }
}
@keyframes line{
  50%{
    color: transparent;
  }
}